<div class="header-container">
  <div class="menu-bar">
    <a
      routerLinkActive="active"
      routerLink="/menu-bar"
      class="menu-text a-texts"
      >Menu Page</a
    >
  </div>
  <div class="orders-page">
    <a
      routerLinkActive="active"
      routerLink="/orders-page"
      class="menu-text a-texts"
      >My Orders</a
    >
  </div>
  <div class="add-to-cart-page">
    <a
      routerLinkActive="active"
      routerLink="/add-to-cart"
      class="add-to-cart-text a-texts"
      >Cart</a
    >
  </div>
</div>
