* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.menu-container {
  margin-top: 30px;
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    .card {
      display: flex;
      flex-direction: column;
      width: 25%;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 20px;
      margin: 15px;

      .food-item {
        font-family: "Open Sans", sans-serif;
        align-self: center;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        color: #000;
      }
      .features {
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
        color: #a74545;
        padding: 10px;
      }
    }
  }
}

.inline-block {
  display: inline-block;
}
